@charset "utf-8";
@import "compass/utilities/";
@import "_variables";
@import "_rem";
@import "compass/reset";
@import "compass/css3";
body {
    font-size: 12px;
    color: $text-color;
    font-family: $font-family-sans-serif;
}

a {
    color: $link-color;
    text-decoration: none;
}