$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

p {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
    @include retina{
    	color: #ddd;
    }
  }

  @include desktop {
    font-size: 20px;
  }

  @include phone {
    font-size: 20px;
  }
}